.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 16px;
    padding: 16px;
    justify-items: center;
}
div.section-1 {
    background-color: black;
    padding: 5px;
    justify-items: center;
    justify-content: center;
    display: flex;

}
.body{
    background-color: black;
}